
@{
    ViewData["Title"] = "HomeCreate";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div> 
        This is my First View
    </div>
</body>
</html>
